.App {
  background-color: #0E313D;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 100px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #0E313D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.h1 {
  font-weight: 500;

}

.App-link {
  color: #61dafb;
}

body {
  overflow-x: hidden;
  color: white; 
  font-family: 'Roboto Condensed', sans-serif;
}


.text-to-right {
  direction: rtl;
  text-align: right;
}

.navbar-brand.brand{
  color: #428CB8;
  padding: 0;
}

.navbar-nav.nav-link.link {
  color: white!important; 
}

.navItem {
  color: white!important;
}

.nav-link {
  padding: 0;
}

.main-container {
  margin-top: 20px; 
}

img.itinLogo {
  height: 50px; 
  padding-right: 5px; 
}

