.App {
  background-color: #0e313d;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0e313d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  overflow-x: hidden;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.text-to-right {
  direction: rtl;
  text-align: right;
}

.main-container {
  margin-top: 20px;
}

img.brandLogo {
  height: 70px;
  padding-right: 1px;
}

.navbar {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.navbar-nav.nav-link.link {
  color: white !important;
}

.navItem {
  color: white !important;
}

.nav-link {
  padding: 0;
}

.highlight {
  color: cyan;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px; 
  background: #6cf;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transform: translateY(60px);
  transition: width 1s, transform 1s; 
}

footer .inner{
  background-color: #6cf;
  padding: 2em;
  border-radius: 50%;
  transition: border-radius 1s;
}

.footer:hover {
  transform: translatey(0px);
  width: 100%;
}

.footer:hover .inner {
  border-radius: 0%
}

.center {
  display: flex;
  justify-content: center;
}

#map { 
  position: relative;
  top: 0; 
  bottom: 0; 
  width: 100%;
}

.map-container {
  height: calc(75vw * 3/5); /* This calculates the height as the viewport width minus 50px (adjust as needed) */
  margin-top: 20px;
}

@media (max-width: 1280px) {
  /* Your CSS rules here */
  .map-container {
    height: calc(100vw * 2/3); /* This calculates the height as the viewport width minus 50px (adjust as needed) */
  }
}

@media (max-width: 768px) {
  /* Your CSS rules here */
  .map-container {
    height: calc(100vw * 6/4); /* This calculates the height as the viewport width minus 50px (adjust as needed) */
  }
}